body {
  font-family: Georgia, serif;
  max-width: 680px;
  margin: 60px auto;
  padding: 0 20px;
  color: #ffffcc;
  background: #142352;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 12px;
}

a {
  display: block;
  margin-bottom: 24px;
  color: #1a2e69;
}

a:visited {
  color: #0c266e;
}

a:hover {
  color: #0b6375;
}

a:active {
  color: #b3b300;
}

.intro {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 24px 28px;
  line-height: 1.7;
  background: #ffffcc;
  color: black;
  margin-bottom: 20px;
}

main {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 24px 28px;
  line-height: 1.7;
  background: #ffffcc;
  color: black;
  vertical-align:middle;
}

hr {
  border-color: #ffffcc;
}