        <footer>
            <p>
            <a href="https://brainrot0570.github.io/">CLT Web</a>
            <a href="https://github.com/Brainrot0570/">GitHub</a>
            <a href="https://brainrot0570.github.io/itis3135/">GitHub.io</a>
            <a href="https://www.freecodecamp.org/tstewa60">freeCodeCamp</a>
            <a href="https://www.codecademy.com/profiles/dev8070233007">Codecademy</a>
            <a href="https://www.linkedin.com/in/taylor-stewart-0992003ab/">LinkedIn</a>
            </p>
            <div class="copyright">
                <p>
                    Site Designed by <a href = "taylorstewartdesigns.com">Taylor Stewart Designs &copy;2026</a>
                </p>
                <p>
                    Certified in ...
                </p>
                <p>
                    <a href="https://validator.w3.org/check?uri=referer">
                        <button>Validate HTML</button></a>
                    <a href="https://jigsaw.w3.org/css-validator/check/referer">
                        <button>Validate CSS</button>
                    </a>
                    <script>
                        document.getElementById("validation_link_html").setAttribute("href","https://validator.w3.org/check?uri=" + location.href);
                        document.getElementById("validation_link_css").setAttribute("href","https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
                    </script>

                </p>
            </div>
        </footer>
<script src="https://divonbriesen.github.io/web123/scripts/standards-check.js" defer></script>